html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
main.container {
  margin: 0;
  padding: 0;
}
#balanceText {
  color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar {
  width: 100%;
  background-color: #000000;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 10px;
  margin: 0.5% 0;
  color: white;
  text-decoration: none;
  font-size: 25px;
  width: 18%;
  text-align: center;
}
#balanceText{
  color: #00FF2A;
}
.navbar a:hover {
  color: #05B011;
}
.navbar a.active {
  color: #00FF2A;
}
#logoNav {
  background-color: #000000;
  background-image: url("../images/Logo.PNG");
  height: 100%;
  width: 100%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.grid {
  display: grid;
  grid-template-columns: 10% 90%;
}
#loginButton {
  background-color: #5CFA77;
  border-radius: 40px;
  margin-right: 2%;
  padding-top: 5px;
  width: 150px;
  height: 50px;
}
#loginButton:hover {
  background-color: #05B011;
  color: white;
}
#slogan {
  padding-bottom: 300px;
  font-size: 3.2rem;
}
.title{
  margin-top: -0.5%;
  width: 100%;
  color: #FFFFFFDD;
  background-image: url("../images/title_picture.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#titletext {
  font-size: 150px;
  padding-top: 300px;
  width: 100%;
  color: #FFFFFFDD;
}
#stocksLink {
  margin-left: 3%;
}
#transferLink {
  margin-right: 2%;
}
#leaderboardLink {
  margin-right: 4%;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 150px 50px;
  padding: 10px 50px;
  margin: 80px 0 80px;
}
.grid-container > div {
  padding: 30px 0;
}

.grid-text {
  font-size: 30px;
  text-align: Left;
}
.grid-title {
  font-size: 80px;
  text-align: center;
}
.account-title{
  font-size: 120px;
  text-align: left;
  margin: 0 0 0 30px;
}
#log-out{
  font-size: 50px;
}


#alertMessage {
  color: red;
}

#heading {
  font-size: 2.5rem;
  width: 100%;
  margin-left: 34.5%;
  background-color: white;
}

body {
  margin: 0;
  width: 100%;
}

.registerLink {
  margin-top: 1000px;
}


.stockNameValue {
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
}

.stockName {
  width: 15%;
  height: 200px;
  float: left;
}

.stockValue {
  margin-left: 15%;
  height: 200px;
}
#bottomMargin {
  margin-bottom: 100px;
}
#yourAmount {
  margin-bottom: 20px;
  margin-top: -20px;
}
#StockMid {
  margin-top: 100px;
}

#fixFooter{
  margin-bottom: 50px;
}
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#container {
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.top3 {
  font-size: 30px;
}
.top3Pic {
  margin-right: 0px;
  margin-bottom: 70px;
}
